* {
    margin: 0;
    border: 0;
    font-family:  'Montserrat', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
}

.logo {
    padding-left: 9%;
    width: auto;
    height: auto;
}

.topnav {
    font-family:  'Montserrat', sans-serif;
    color: black;
    padding-right: 5%;
    text-decoration: none;
    overflow: hidden;
}

.topnav a {
    color: black;
    float: left;
    text-align: center;
    padding: 10px 45px;
    text-decoration: none;
    font-size: 10px;
  }

.topnav a:visited {
    text-decoration: none;
}

.topnav a:hover{
    font-weight: bold;
}

.topnav a.active {
    font-weight: bold;
}

.topnav .icon {
    display: none;
  }

@media screen and (max-width: 825px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}

@media screen and (max-width: 825px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

.destaque {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
}

.target {
    opacity: 74%;
}

@media screen and (max-width: 825px) {
    .target{
        width: auto;
    }

    .destaque {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
    }
}

.destaque h1 {
    font-size: 3.5rem;
    padding-top: 80px;
}


.destaque button {
    font-size: 18px;
    font-weight: 600;
    color: #0074FF;
    border: 1px solid black;
    background-color: white;
    padding: 3%;
    margin-top: 3%;
}

.localizacao, .servicos, .segmentos {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 5%;
}

.servicos, .segmentos {
    padding-top: 13%;
}

.row {
    box-sizing: border-box;
    align-items: center;
    padding: 0 10%;    
}

.column {
    float: left;
    width: 21%;
    text-align: left;
    background-color: #0074FF;
    padding: 1%;
    margin: 1%;
    height: 300px;
}



h2 {
    font-size: 1.2rem;
    font-weight: 100;
    text-align: left;
    color: #000000;
    padding-bottom: 4%;
    padding-top: 2%;
}

h3 {
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 2%;
}

h4 {
    font-size: 7rem;
    color: rgba(0, 0, 0, 0.10);
    position: absolute;
    z-index: 1;
    
}

h5 {
    padding: 0 0 3% 13%;
    font-size: 1.4rem;
    color: #fff;
    font-weight: bold;
    position: relative; 
    top: 5.5rem; 
    left: 0; 
    margin: 0;
    z-index: 2; 
}

h6 {
    font-size: 1rem;
    font-weight: 600;
}
p {
    font-size: 1.2rem;
    text-align: center;
    color: #000000;
    padding-bottom: 4%;
}

.column p{
    align-items: left;
    text-align: left;
    padding-bottom: 2%;
    font-size: 0.7rem;
    color: #fff;
    position: relative; 
    top: 6rem; 
}

@media screen and (max-width: 900px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .column p{
        align-items: left;
        text-align: left;
        padding-bottom: 3%;
        font-size: 0.7rem;
        color: #fff;
    }
  }

.segmentos {
    padding-bottom: 150px;
}
.blocks {
    column-count: 3;
    padding-left: 10%;
    
}

#block {
   padding: 0 10%;
}

.blocks p{
    font-size: 0.8rem;
    align-items: left;
    text-align: left;
    color: #000000;
}

.block-img {
    text-align: left;
}

.block-txt {
   text-align: left;
   padding-left: 13%;
   padding-right: 30%;
}

footer {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer {
    color: #fff;
    font-size: 0.7rem;
    padding-right: 2%;
    padding-top: 2%;
    
}

.logo-footer {
    padding-left: 9%;
    padding-top: 1.3%;
    width: auto;
    height: auto;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .destaque {
      flex-flow: column;
      text-align: center;
    }
    .map {
        width: 80%;
    }
  }